#banner {
	background-image: url(background.jpg);
	background-position: center;
	min-height: 10vh;
}

#banner .info {
	font-size: 30px;
	margin: 10px;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
