.container h2 {
	text-align: center;
	font-family: 'Rubik', sans-serif;
}
 .container p{
	text-align: center;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container h3 {
	font-family: 'Rubik', sans-serif;
}

.container h4 {
	font-family: 'Rubik', sans-serif;
}

.container h5 {
	font-family: 'Rubik', sans-serif;
}

.container h6 {
	font-family: 'Rubik', sans-serif;
}
