
#wall1-jumbotron {
  padding: 30px;
  background-color: #E35F65;

}

#wall2-jumbotron {
  padding: 30px;
  background-color:  #DA5B6A ;

}
#wall3-jumbotron {
  padding: 30px;
  background-color:#D05870  ;

}

#wall4-jumbotron {
  padding: 30px;
  background-color:#B54E7F ;

}

.container .row .col-md-3 img {
  width: 200px;
  height: auto;
  margin: 0 auto;

}

.maincontainer {
  position: relative;
  width: 220px;
  height: 220px;
//  background: rgba(0, 0, 51, 0.6);
    background: 	#133b53;
  padding: 8px;
}

.container .row .col-md-3 .card .maincontainer h3 {
  color: white;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  text-align: center;
  font-family: 'Rubik', sans-serif;

}

#distance-jumbotron{
  background-image: url(background.jpg);
}

.container .row .col-md-3 .card .maincontainer1 h2 {
  color: rgba(0, 0, 51, 0.76);
  font-size: 28px;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  font-family: 'Rubik', sans-serif;


}

.container .row .col-md-3 .card {
  padding: 17px 0px 17px 17px;
 background-color: #cccccc;
}

.container .row .col-md-3 .card .maincontainer1 {
  position: relative;
  width: 220px;
  height: 220px;
  background: white;
  font-family: 'Rubik', sans-serif;

}
