* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.jumbotron {
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	min-height: 100vh;
}

.btn {
	background-color: rgba(0, 0, 51, 0.76);
	background-size: cover;
}

section {
	padding-top: 4rem;
}

#section-newsletter {
	padding-top: 0;
}

#section-jumbotron {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container h1 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Rubik', sans-serif;

}