#banner {
  background-image: url(background.jpg);
  background-position: center;
  min-height: 10vh; }

#banner .info {
  font-size: 30px;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center; }

span {
  display: block;
  font-weight: 80; }

.container h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif; }

.container p {
  text-align: center; }

body {
  font-family: 'Open Sans', sans-serif; }

.container h3 {
  font-family: 'Rubik', sans-serif; }

.container h4 {
  font-family: 'Rubik', sans-serif; }

.container h5 {
  font-family: 'Rubik', sans-serif; }

.container h6 {
  font-family: 'Rubik', sans-serif; }

#wall1-jumbotron {
  padding: 30px;
  background-color: #E35F65; }

#wall2-jumbotron {
  padding: 30px;
  background-color: #DA5B6A; }

#wall3-jumbotron {
  padding: 30px;
  background-color: #D05870; }

#wall4-jumbotron {
  padding: 30px;
  background-color: #B54E7F; }

.container .row .col-md-3 img {
  width: 200px;
  height: auto;
  margin: 0 auto; }

.maincontainer {
  position: relative;
  width: 220px;
  height: 220px;
  background: #133b53;
  padding: 8px; }

.container .row .col-md-3 .card .maincontainer h3 {
  color: white;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

#distance-jumbotron {
  background-image: url(background.jpg); }

.container .row .col-md-3 .card .maincontainer1 h2 {
  color: rgba(0, 0, 51, 0.76);
  font-size: 28px;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  font-family: 'Rubik', sans-serif; }

.container .row .col-md-3 .card {
  padding: 17px 0px 17px 17px;
  background-color: #cccccc; }

.container .row .col-md-3 .card .maincontainer1 {
  position: relative;
  width: 220px;
  height: 220px;
  background: white;
  font-family: 'Rubik', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.jumbotron {
  background-image: url(background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; }

.btn {
  background-color: rgba(0, 0, 51, 0.76);
  background-size: cover; }

section {
  padding-top: 4rem; }

#section-newsletter {
  padding-top: 0; }

#section-jumbotron {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.container h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

#navbarNav {
  /*    background-color:  rgba(0, 0, 51, 0.76);*/ }

.navbar {
  background-color: rgba(0, 0, 51, 0.76); }

.icon {
  height: 60px;
  width: 80px;
  margin: 2px; }

/*# sourceMappingURL=style.css.map */
